<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Loan Department">
  <test name="Personal Loan">
     <classes>
       <class name="Test.firstDay">
       </class>
       <class name="Test.secondDay">
        <methods>
          <exclude name="ploan"/>
        </methods>
        </class>
        <class name="Test.fourthDay">
         <methods>
            <include name="LoginApiHomeLoan"/>
         </methods>
        
        </class>
    </classes>  
    </test>
    
    <test name="Car Loan">
       <classes>
          <class name="Test.thirdDay">
          <methods>
               <exclude name="MobileLoginCarLoan"/>
                  </methods>
          
          
          </class>
             
                  
           </classes>
   
   </test>
  
  
  
  <!-- Test -->
</suite> <!-- Suite -->
